body {
  background-color: #e1e1e1;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

h1 {
  color: #399FBE;
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 1.5;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.container {
  background-color: white;
  box-shadow: 15px 10px 20px #b9b9b9;
  line-height: 1.5;
  margin-top: 5%;
  padding: 2%;
}

.section-heading {
  text-align: center;
  margin-bottom: 2%;
}

/*Navigation Bar*/

.navbar {
  background-color: black;
}

.navbar-brand {
  color: whitesmoke;
  margin: auto 2% auto;
}

.navbar-brand:hover {
  color: #399FBE;
}

.nav-link {
  font-weight: light;
  font-size: 1.2rem;
  color: whitesmoke;
}

.nav-link:hover {
  color: #399FBE;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  margin-right: 2%;
  font-size: 1.25rem;
  line-height: 1;
  background-color: #4960e600;
  border: 1px solid #f6f7f8;
  border-radius: 0.25rem;
  transition: box-shadow .15s ease-in-out;
}

/*Hero Section*/

.hero {
  background-image: url(/images/beach.jpg);
  background-size: cover;
  background-color: #4E4D77;
  margin-right: 0;
}

.hero-img {
  width: 50%;
  text-align: left;
}

#title-box {
  background-color: rgba(0, 0, 0, 0.7);
  width: 31.25rem;
  height: 19rem;
  padding: 5% 5%;
  color: whitesmoke;
  text-align: center;
}

#title {
  font-weight: 300;
  line-height: 1.5;
}

.social-icon {
  color: whitesmoke;
  margin: 5%;
}

.social-icon:hover {
  color: #399FBE;
}

/*About Section*/

.about-img {
  width: 60%;
  border-radius: 30%;
  margin-left: 20%;
}

.description {
  margin-top: 2%;
  text-align: left;
}

.degree-column {
  padding: 3% 2%;
  text-align: left;
}

#about a {
  text-decoration: none;
  color: #4E4D77;
}

#about a:hover{
  color: #399FBE;
}

/*Skills Section*/

.skill-box {
  padding-left: 5%;
  margin-bottom: 2%;
}

/*Projects*/

.img-fluid {
  width: 15rem;
  float: left;
  margin-right: 2%;
}

.img-fluid:hover {
  width: 16rem;
}

.badge {
  background-color: #4E4D77;
  font-size: 0.85rem;
  padding: 1rem;
}

/*Experience*/

#experience {
  padding: 5%;
}

.timeline-with-icons {
  border-left: 1px solid hsl(0, 0%, 90%);
  position: relative;
  list-style: none;
}

.timeline-with-icons .timeline-item {
  position: relative;
}

.timeline-with-icons .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline-with-icons .timeline-icon {
  position: absolute;
  left: -48px;
  background-color: #399FBE;
  color: whitesmoke;
  border-radius: 50%;
  height: 31px;
  width: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Footer*/

footer {
  background-color: black;
  color: whitesmoke;
  margin: 5% auto 0;
  text-align: center;
}

.copyright {
  margin: 0;
  padding-bottom: 2%;
}

@media (max-width: 1028px){
  .hero-img {
    display: none;
  }

  #title-box {
    margin: 0 auto;
  }
}
